.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer .heading{
  margin-bottom: -200px;
  margin-top: 270px;
    padding-left: 270px;
    font-size: 28px;
}
.footer .content{
    
    color: #1f1f1f;
    margin-top: 250px;
    margin-bottom: -60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */

}
.content .services{
    
    padding-left: 120px ;
    padding-right: 60px;
    margin-right: -20px;
     font-size: 21px;
}
.content .social-media{
    
    font-size: 21px;
    padding-right: 89px;
padding-left: 89px;
margin-right: -10px;
margin-left: 89px;

}
.content .links{
   
    font-size: 21px;
padding-right: 89px;
padding-left: 89px;
margin-right: 80px;
margin-left: 89px;
   

}
.content .details{
    
    font-size: 21px;
padding-left: 30px;
padding-right: 89px;

}
a{
    color: #1f1f1f;
}

a:link{
    text-decoration: none;
    
}

.footer footer{
    
    text-align: center;
     margin-top: 80px;
}